<.header>
  Dashboard
</.header>

<.table id="dashboard" rows={@logs}>
  <:col :let={log} label="Date"><%= log.date %></:col>
  <:col :let={log} label="Exercise Name"><%= log.exercise.name %></:col>
  <:col :let={log} label="User"><%= log.user.name %></:col>
  <:col :let={log} label="Weight"><%= log.weight %></:col>
</.table>
